
/*Table Styling*/

table {
    width: 100%;
    margin: 0 auto;
}

#table th, td {
    border: 1px solid black;
    text-align: center;
} 

input {
    width: 90%;
    
}


/*Button Styling*/

.complete {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.check {
    width:180px;
    height:30px;
}